.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }
  }

.creator-image {
    max-height: 500px;
    max-width: 300px;
    object-fit: contain;
}

@media only screen and (min-width: 600px) {
    .text-container {
      text-align: left;
    }
  }